@page "/presses"
@inherits DashboardModel
@using ParagonID.InternalSystem.Assets.Components

<div class="container-fluid">
    <div class="row">

        <div class="press-dashboard-wrapper">
            <div class="press-dashboard-heading">
                <h1>Presses</h1>
            </div>

            <div class="press-dashboard-presslist">

                <SpinningLoad IsLoading="@(IsLoading)"/>

                <div class="row">
                    @foreach (var __press in Machines)
                    {
                        <div class="col-md-3">
                            <div class="press-card">
                                <h1>@__press.Name</h1>

                                <div class="press-card-checks">
                                    <div class="press-card-titles">
                                        <p>Daily</p>
                                        <p>Weekly</p>
                                        <p>Monthly</p>
                                    </div>

                                    <div class="press-card-icon">
                                        <RadzenIcon Icon="@(__press.Daily == null ? "cancel" : "check_circle")" Style="@(__press.Daily == null ? "color: red;" : "color: green;")" />
                                        <RadzenIcon Icon="@(__press.Weekly == null ? "cancel" : "check_circle")" Style="@(__press.Weekly == null ? "color: red;" : "color: green;")" />
                                        <RadzenIcon Icon="@(__press.Monthly == null ? "cancel" : "check_circle")" Style="@(__press.Monthly == null ? "color: red;" : "color: green;")" />
                                    </div>
                                </div>

                                <div class="press-dashboard-presslist-image" />

                                <div class="press-card-dropdown">
                                    <div class="press-card-dropdown-check">
                                        <p>Daily</p>
                                        @if(__press.Daily == null)
                                        {
                                            <p>Action Needed</p>
                                        } else
                                        {
                                            <p>@__press.Daily</p>
                                        }
                                    </div>

                                    <div class="press-card-dropdown-check">
                                        <p>Weekly</p>
                                        @if (__press.Weekly == null)
                                        {
                                            <p>Action Needed</p>
                                        }
                                        else
                                        {
                                            <p>@__press.Weekly</p>
                                        }
                                    </div>

                                    <div class="press-card-dropdown-check">
                                        <p>Monthly</p>
                                        @if (__press.Monthly == null)
                                        {
                                            <p>Action Needed</p>
                                        }
                                        else
                                        {
                                            <p>@__press.Monthly</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

    </div>
</div>